* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.workshop-container {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  background-image: url('../../assets/work.jpg');
  background-size: cover;
 

}

/* Adjusted container */
.workshop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.workshop-container .soon {
  position: relative;
  font-size: 10vw; /* Responsive size */
  color: #222;
  -webkit-text-stroke: 0.3vw #292a32;
  text-transform: uppercase;
}

.workshop-container .soon::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ff2c3e;
  text-shadow: 0 0 15px #ff2c3e;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #fe011a;
  overflow: hidden;
  animation: animate 4s linear infinite; /* Reduced duration */
}

@keyframes animate {
  0%, 10%,100% {
    width: 0;
  }
   75%, 90% {
    width: 100%;
  }
}

/* Optional media query for smaller screens */
@media (max-width: 768px) {
  .workshop-container .soon {
    font-size: 8vw;
  }
}

