.register {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #555;
    margin-top: 120px;
  

}
body::-webkit-scrollbar {
    display: none;
}