/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    /* background: #222; */
    background: url('../../assets/pp5.jpeg');
    /* background-size: cover; */
    margin-top: 120px;
}

.contact::-webkit-scrollbar{
    display: none;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    margin-bottom: 7px;
}

.contact .content h3 {
    font-size: 1.7em;
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact .content p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* height: 50px; */
    /* background: #f00; */
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}

.container .contactInfo .box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contactInfo .box .icon::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
}


.container .contactInfo .box .icon::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;
}
.container .contactInfo .box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contactInfo .box .icon:hover{
    transform: translateY(-5px)
}

.container .contactInfo .box .icon b {
    position: absolute;
    inset: 8px;
    background: #01dbc2;
    z-index: 2;
}

.container .contactInfo .box .icon i{
    position: relative;
    z-index: 1000;
    color: #333;
    font-size: 1.25em;
}

.container .contactInfo .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #01dbc2;
}

.container .contactInfo .text {
    color: #fff;
    margin-top: 7px;
    font-weight: 500;
    /* border-left: 5px solid #01dbc2; */
    padding-left: 10px;
    line-height: 1em;
}

.container .contactInfo .text p{
    margin-top: 7px;
}

.container .contactInfo .text1 {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #01dbc2;
    padding-left: 10px;
    line-height: 1em;
}

.container .contactInfo .sci {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.container .contactInfo .sci li {
    list-style: none;
}

.container .contactInfo .sci li a {
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}

.container .contactInfo .sci li a:hover {
    color: #01dbc2;
    filter: drop-shadow(0 0 5px #01dbc2);
}

.container .contactForm{
    position: relative;
    width: 40%;
    background: repeating-conic-gradient(from var(--i), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite; 
    padding: 60px; 
}

.container .contactForm::before{
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--i), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.container .contactForm::after{
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #222;
    background: #333;
}

@property --i{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate{
    0%{
        --i:0deg;
    }
    100%{
        --i:360deg;
    }
}

.container .contactForm form{
    position: relative;
    z-index: 10;
}

.container .contactForm form h2{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
}

.container .contactForm form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.container .contactForm form .inputBox input,.container .contactForm form .inputBox textarea{
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #01dbc2;
    color: #fff;
    outline: none;
    resize: none;
}

.container .contactForm form .inputBox span{
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: .5s;
}

.container .contactForm form .inputBox input:focus ~span,.container .contactForm form .inputBox textarea:focus ~span,
.container .contactForm form .inputBox input:valid ~span,.container .contactForm form .inputBox textarea:valid ~span{
    color: #01dbc2;
    font-size: 0.9em;
    transform: translateY(-24px);
}

.container .contactForm form .inputBox input[type="submit"]{
    width: 100%;
    background: #01dbc2;
    color: #222;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

form {
    padding-bottom: 0;
    display: flex;
     align-items: start;
    justify-content: center;
    flex-direction: column;
    border-bottom:none;
    margin-bottom: 0;
}


/* Background Animation */
/* .bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr); 
    grid-template-rows: repeat(20, 1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden; 
}

.colorBox{
    z-index: -3;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 5px;
    background: #1d1d1d;
}

.colorBox:hover{
    background: #0ef;
    transition-duration: 0s;
}

.backgroundanim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #00bfff;
    filter: blur(80px);
    animation: back 6s linear infinite;
}

@keyframes back{
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
} */





/* Media Query */
@media (max-width:991px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo,
    .container .contactForm{
        width: 100%;
    }
    .container .contactForm{
        padding: 40px;
    }
    .container .contactForm form{
        padding: 10px;
    }
}